#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
App_Data/
*.lib
*.sbr
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
*.tmp
*.chw
*.dotCover
*.debug.css
*.orig
_ReSharper*
.vs/

#ignore certain folders
/Output/
/DeploymentPackages/
/Packages/
/Packages/!Repositories.config
/node_modules/
/Logs/

#ignore some other files
*.dmp
*.sln.ide
bundle.js
*.test.html
Source/Web.ShellApplication/Web.config.staging
Source/Web.ShellApplication/cassette-cache/
Vendor/

.vscode/
.idea/
.DS_Store

package-lock.json
